/* placeholders */

%bgBody {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

%bgNavbar {
  background-color: #FFFD;
}

%hamburgerFixed {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 14px;
  right: 28px;
}