* {
  border: 1px solid grey;
}

.hamb {
  width: 60px;
  position: fixed;
  top: 14px;
  right: 14px;
}

ul.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  li {
    margin: 10px;
  }
}