/* DEV — affichage du contour des blocs */
* {
  //border: 1px solid grey;
}

.barrnav {
  background-color: #0002;
  color: #000;
  a {
    color: inherit;
  }
}

.bienvenue {
  display: flex;
  align-items: center;
  height: 88px;
  margin-left: 14px;
  h1 {
    margin: 0;
  }
}

%hamburgerFixed {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 14px;
  right: 14px;
}

.hamb {
  @extend %hamburgerFixed;
}

.checkMenu {
  @extend %hamburgerFixed;
  opacity: 0;
}

ul.menu {
  display: none;
  list-style: none;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  li {
    margin: 10px;
    text-align: center;
  }
}

input[type='checkbox']:checked ~ ul.menu {
  display: flex;
}


@media screen and (min-width: 768px) {

  .hamb, .checkMenu {
    display: none;
  }

  ul.menu {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .barrnav .conteneur {
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    .bienvenue {
      flex-grow: 2;
    }
  }

}