/***********************************/
/*          INITALISATION          */
/*                                 */
/***********************************/

html, body, nav, header, footer {
    margin: 0px;
    padding: 0px;
}

ul, ol, li, a {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}

/***********************************/
/*             DEFAULT             */
/*            TELEPHONE            */
/***********************************/
h1, h2, h3, h4, h5, .tit {
    color: white;
    border: black solid 1px;
    padding: 20px;
    border-radius: 5px;
    background-color: black;
}

.coverFond {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../img/accueil.jpg");
}

.Center {
    width: 100%;
    height: 100vh;
}

.flexCenterRow {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.flexCenterRowInver {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

.flexCenterCol {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.barrnav {
    width: 100%;
    height: 100%;
    align-items: center;
}

.barrnav img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: auto;
    max-width: 100%;
    margin-left: 25px;
    z-index: 1;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

#UlMenu {
    position: absolute;
    top: 25%;
    z-index: 1;
}

.RowA {
    margin: 5px;
    padding: 20px;
}

.RowA:hover {
    background-color: darkgrey;
    color: black;
}

.navGrey {
    /*transition: 250ms;*/
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
}

/***********************************/
/*             DESKTOP             */
/***********************************/
@media screen and (min-width: 970px) {

    .displayBlock {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    #UlMenu {
        position: relative;
        top: 0;
    }

    .RowA {
        padding: 0px;
        border: darkgrey solid 1px;
    }

    .barrnav {
        position: absolute;
        top: 10px;
        right: 10px;
        width: auto;
        height: 80px;
    }

    .barrnav img {
        position: relative;
        top: 0;
        right: 0;
        width: 70px;
    }
    .navGrey {
        background-color: transparent;
    }

}