//Définition des breakpoints via une MAP
$breakpoints: (
  'small' : '0px',
  'medium': '800px',
  'large': '1000px',
  'huge': '1200px',
);

//Mixin qui permet d'utiliser facilement les mediaQueries
@mixin respond-to($breakpoint) {
    // Recuperer la valeur depuis la clé
    $value: map-get($breakpoints, $breakpoint);
    
    //Si la clé existe dans la MAP
    @if $value != null {
        //Retourner le media queries avec la valeur correspondant à la clé
        @media (min-width: $value) {
        @content;
        }
    }
    
    //Si le media n'existe pas dans la map
    @else {
        @warn "Problème `#{$breakpoint}`. "
            + "Vérifier que  `$breakpoints` est définit dans la map.";
    }
}
/* ------- MIXIN RACCOURCIS ------- */
@mixin flex-column{
    display: flex;
    flex-direction: column;
    width: 100%;
}
@mixin noRepeat-cover{
    background-repeat: no-repeat;
    background-size: cover;
}
/* ------- DECLARATION VARIABLES ------- */
$heightNavNar : 50px;
$fontsize-desktop: 1.3em;
$bgColor: #DD0426;
$bgColor-hover: #F02D3A;

/* ------- GENERAL ------- */
img{
    width: 100%;
}
a,a:hover{
    color:white
}
a:link{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
ul li{
    margin: 0px 10px 0px 10px;
}

/* ------- DEFINITION DES BACKGROUNDS POUR CHAQUE PAGE ------- */
.accueil, .cerise, .poire, .pomme, .tomate{
    @include noRepeat-cover;
}
.accueil{
    background-image: url('../img/accueil.jpg');
}
.cerise{
    background-image: url('../img/cerise.jpg');

}
.poire{
    background-image: url('../img/poire.jpg');
}
.pomme{
    background-image: url('../img/pomme.jpg');
}
.tomate{
    background-image: url('../img/tomate.jpg');
}
.main{
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            background-color: $bgColor;
            color: white;
            border-radius: 5px;
            font-size:5vw;
        }
}

/* ------- STYLE POUR ECRAN TAILLE SMALL ------- */
@include respond-to('small') {
    .barNav{
        //Mettre les elements de la barNav en colonne + hauteur adaptable au contenu
        @include flex-column;
        align-items: flex-end;
        justify-content: flex-start;
        background-color: $bgColor;
        min-height: $heightNavNar;
        height: auto;

        /* Aligner verticalement le label */
        label{
            line-height: 40px;           
        }
        //Taille de l'hamburger = taille de la navBar et decaler hamburger à gauche
        .hamb{          
            width: 40px;
            margin-right: 20px;
        }

        //Masquer le champ input
        .dropdown{
            display: none;
        }

        //Par defaut, rendre les liens invisible
        .nav{
            display: none;
        
        }
        

        //Afficher liens en colonne centrer
        input[type='checkbox']:checked ~ .nav{
            @include flex-column;
            align-items: center;
            font-size: 2em;

        }
    }  
}

/* ------- STYLE POUR ECRAN TAILLE MEDIUM ------- */
@include respond-to('medium') {
        .barNav{
            height: $heightNavNar;
            display: flex;
            justify-content: center;
            
            //Masque l'hamburger
             .hamb{
                display: none;
            }

            //Fermer le menu mobile ouvert si l'on passe au medium
            input[type='checkbox']:checked ~ .nav{
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: $fontsize-desktop;
                width: 100%;
            }

            //Remettre les liens en ligne, et centrer dans le navbar
            .nav{
                height: $heightNavNar;
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;
                align-items: center;
                font-size: $fontsize-desktop;
                
                //Espacer les liens entre-eux
                li {
                    display: flex;
                    flex-direction: column;
                    padding: 0px 20px 0px 20px;
                    height: 55px;
                    justify-content: center;
                                      
                }
                li:hover{
                    background-color: $bgColor-hover;
                }
            }
            
        }    
}
