*{
    margin:0;
    padding:0;
    font-family: "Century Gothic";
    font-weight: bold;
    color:white;
}
.off{
    display:none;
}
nav h1{
    text-align: center;
}
#burger{
    top:0;
    left:0;
    position:absolute;
}
ul{
    display: flex;
    flex-direction: column;
    margin-top:30px;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    background-position: center center;
}
button{
    width:50px;
    height:50px;
    border:none;
    border-radius:5px;
    background-color: darkred;
}
img{
    width:100%;
}
@media screen and (min-width: 480px){
    #menu{
        width:70%;
        margin:auto;
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
    }
    button{
        display: none;
        position: relative;
    }
}